server:
  port: 8083

spring:
  application:
    name: claim-service
  datasource:
    url: jdbc:mysql://localhost:3306/insurance_claim_db
    username: root
    password: pass@123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092

cache:
  redis:
    host: localhost
    port: 6379

management:
  endpoints:
    web:
      exposure:
        include: "*"
